version: '3.8'

services:
  backend:
    image: ui_main
    container_name: ui-main
    ports:
      - "3000:3000"
    environment:
      # Use key: value format to avoid quote parsing issues
      - VITE_API_BASE_URL=http://4.230.96.180/api/otruyen/
      - VITE_OTRUYEN_API_BASE_URL=http://4.230.96.180/api/datatruyen/
      - VITE_APP_ENV=development
    restart: unless-stopped
