apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: api-datatruyen
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ainh01/cuoiki10diem.git
    targetRevision: main
    path: k8s/applications/api-datatruyen
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=false