apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-datatruyen
  namespace: default
spec:
  replicas: 5
  selector:
    matchLabels:
      app: api-datatruyen
  template:
    metadata:
      labels:
        app: api-datatruyen
    spec:
      containers:
      - name: api-datatruyen
        image: webtruyenacr2855.azurecr.io/api-datatruyen:8569b91ca35932493e862a17e3be968a1ab98bd5
        ports:
        - containerPort: 8000
        env:
        - name: MONGODB_DATA_API
          value: "mongodb+srv://ainh01:Bb1234567890!@ainh.global.mongocluster.cosmos.azure.com/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000"
        - name: MONGODB_DATA_DB
          value: "CNPM_truyentranh_db"
        - name: EXTERNAL_API
          value: "http://4.230.96.180/api/datatruyen/"
        - name: IMAGE_API
          value: "https://sv1.otruyencdn.com/v1/api/"
